 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-group-1 {
  width: 505px;
  min-height: 472px;
  background-image: linear-gradient(#ae1d77, #da2464);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-image-1 {
  width: 108px;
  height: 108px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 27px auto 0;
  padding: 11px 48px 12px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 32px;
    padding-right: 32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 197px 0;
}

.u-section-2 .u-gallery-1 {
  height: 362px;
  margin-top: 47px;
  margin-bottom: 10px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-2 .u-gallery-1 {
    height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 687px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1546px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-2 .u-gallery-1 {
    height: 973px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 534px;
}

.u-section-3 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 197px 0;
}

.u-section-3 .u-gallery-1 {
  height: 362px;
  margin-top: 47px;
  margin-bottom: 10px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-3 .u-gallery-1 {
    height: 299px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 916px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-3 .u-gallery-1 {
    height: 687px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-3 .u-gallery-1 {
    height: 433px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 534px;
}

.u-section-4 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 197px 0;
}

.u-section-4 .u-gallery-1 {
  height: 352px;
  grid-gap: 17px 17px;
  width: 352px;
  margin: 31px auto 36px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2093px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-4 .u-gallery-1 {
    height: 328px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 534px;
}

.u-section-5 .u-text-1 {
  margin: 31px auto 0 545px;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 197px 0;
}

.u-section-5 .u-video-1 {
  height: 328px;
  width: 583px;
  margin: 31px auto 60px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 449px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-5 .u-video-1 {
    margin-top: 65px;
    margin-bottom: 0;
  }

  .u-section-5 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 344px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 258px;
  }

  .u-section-5 .u-video-1 {
    height: 304px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 162px;
  }

  .u-section-5 .u-video-1 {
    height: 191px;
    width: 340px;
    margin-top: -6px;
    margin-bottom: 53px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 197px 0;
}

.u-section-6 .u-gallery-1 {
  height: 521px;
  grid-gap: 17px 17px;
  width: 146px;
  margin: 11px auto 35px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 916px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-6 .u-gallery-1 {
    height: 687px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-6 .u-gallery-1 {
    height: 433px;
  }
}